@import "colors";

/* =========================
   GLOBAL
========================= */

* {
    all: unset;
    font-family: HackNerdFont;
}

/* =========================
   VARIABLES
========================= */

$radius_sm: 6px;
$radius_md: 8px;
$radius_lg: 12px;

$padding_md: 15px;

/* =========================
   MIXINS
========================= */

@mixin card {
    background-color: $muted;
    border-radius: $radius_md;
}

@mixin container {
    padding: $padding_md;
}

@mixin bg_container {
    @include card;
    @include container;
}

/* =========================
   LAYOUT
========================= */

.backgorund_trans {
    background-color: rgba(0, 0, 0, 0.35);
}

.bg {
    background-color: $bg;
    border-radius: $radius_lg;
}

.main_container {
    padding: $padding_md;
}

.container {
    padding: 0;
}

/* =========================
   BUTTON
========================= */

.silent_btn {
    min-width: 20px;
    min-height: 20px;

    border-radius: $radius_sm;

    font-size: 22px;
}

/* =========================
   EMPTY BG CARD
========================= */

.bg_container {
    @include bg_container;

    min-height: 80px;
}

.system_power_widget {
    background-color: $bg;
    min-height: 30px;
    min-width: 80px;
}

calendar {
    border-radius: 20px;
    background-color: $bg;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: normal;
}

calendar:selected {
    color: $accent;
    border-radius: 50%;
}

calendar.header {
    color: $fg;
    font-weight: bold;
}

calendar.button {
    color: $muted;
}

calendar.button:hover {
    color: $accent;
}

calendar.highlight {
    color: $fg;
    font-weight: bold;
}

calendar:indeterminate {
    color: $muted;
}

/* =========================
   IMPORTS
========================= */

@import "widgets/profile";
@import "widgets/audio";
@import "widgets/music";
@import "widgets/power";
@import "widgets/time";
@import "widgets/network";
@import "widgets/end";
@import "widgets/music_player";
@import "widgets/updates";
@import "widgets/power_buttons";
@import "widgets/bar";
